* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    line-height: 1.6;
    color: #1B263B;
    background-color: #F4F1EA;
}

section {
    scroll-margin-top: 200px;
}

header {
    width: 100%;
    max-width: 100vw;
    padding: 20px 40px;
    background-color: #1B263B;
    color: #F4F1EA;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#logo {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 15px;
}

#logo>img {
    display: grid;
    grid-column: 1;
    grid-row: 1 / 3;
    justify-self: end;
    max-width: 120px;
}

#logo>h1 {
    justify-self: start;
    grid-column: 2;
    margin: 0;
    align-self: end;
}

#logo>p {
    justify-items: start;
    grid-column: 2;
    margin: 0;
}

nav {
    display: flex;
    justify-self: end;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    min-width: 50px;
    gap: 20px;

}

nav li a {
    padding: 5px 15px;
    border-radius: 12px;
    background-color: #D96C4D;
    color: #F4F1EA;
    text-decoration: none;
}

#about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    padding: 40px 0px;
    gap: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

figure {
    width: 300px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

img {
    flex-basis: auto;
    height: auto;
    max-width: 400px;
}

.contatos {
    padding: 40px;
    border-radius: 12px;
    background-color: #415A77;
    color: #F4F1EA;
}

.contatos h2 {
    margin: 0;
    padding-bottom: 15px;
}

.contatos ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-self: center;
    list-style-type: none;
    flex-wrap: wrap;
    min-width: 60px;
    gap: 50px;
}


.contatos li a {
    justify-self: center;
    padding: 15px 20px;
    border-radius: 12px;
    background-color: #D96C4D;
    text-decoration-line: none;
    color: #F4F1EA;

}

button {
    align-self: center;
    padding: 5px 20px;
    background-color: #D96C4D;
    color: #F4F1EA;
    border: none;
    border-radius: 10px;
}

.media {
    margin: 0;
    padding: 20px 0px;
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

fieldset {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1B263B;
    color: #F4F1EA;
    list-style: none;
}

legend {
    color: #F4F1EA;
    margin: 0;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 15px;
}

input {
    margin: 5px;

}

button {
    margin: 15px;
    padding: 15px;
}

.location {
    margin: 0;
    padding: 30px;
}

footer {
    background-color: #415A77;
    color: #F4F1EA;
    align-content: center;
    display: flex;
    border-radius: 10px;
}

footer a {
    text-decoration: none;
    color: #F4F1EA;
}

@media (min-width: 768px) {
  #about {
    width: 100%;
    flex-direction: row;
    justify-items: center;
    align-items: flex-start;
  }

  #textabout {
    max-width: 80%;
  }
}
/* 
* {
    outline: 1px solid red !important;
} */

