* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    line-height: 1.6;
    color: #1B263B;
    background-color: #F4F1EA;
}

section {
    scroll-margin-top: 200px;
}

header {
    width: 100%;
    max-width: 100vw;
    padding: 20px 40px;
    background-color: #1B263B;
    color: #F4F1EA;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr; /* Mobile: uma coluna */
    gap: 20px;
    text-align: center;
}

#logo {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 15px;
    justify-self: center; /* Centraliza no mobile */
}

#logo > img {
    display: grid;
    grid-column: 1;
    grid-row: 1 / 3;
    justify-self: end;
    max-width: 120px;
}

#logo > h1 {
    justify-self: start;
    grid-column: 2;
    margin: 0;
    align-self: end;
}

#logo > p {
    justify-items: start;
    grid-column: 2;
    margin: 0;
}

nav {
    display: flex;
    justify-self: center; /* Centraliza no mobile */
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centraliza botões no mobile */
}

nav li a {
    padding: 5px 15px;
    border-radius: 12px;
    background-color: #D96C4D;
    color: #F4F1EA;
    text-decoration: none;
}

#about {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    padding: 40px 0px;
    gap: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards img {
    width: 100%;
    gap: 30px;
}

figure {
    width: 300px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

img {
    flex-basis: auto;
    height: auto;
}

.contatos {
    padding: 40px;
    border-radius: 12px;
    background-color: #415A77;
    color: #F4F1EA;
}

.contatos h2 {
    margin: 0;
    padding-bottom: 15px;
}

.contatos ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-self: center;
    list-style-type: none;
    flex-wrap: wrap;
    min-width: 60px;
    gap: 50px;
}


.contatos li a {
    justify-self: center;
    padding: 15px 20px;
    border-radius: 12px;
    background-color: #D96C4D;
    text-decoration-line: none;
    color: #F4F1EA;

}

button {
    align-self: center;
    padding: 5px 20px;
    background-color: #D96C4D;
    color: #F4F1EA;
    border: none;
    border-radius: 10px;
}

.midia {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.midia iframe {
    width: 100%;
    max-width: 560px;
    padding-bottom: 30px;
    aspect-ratio: 16 / 9;
    height: auto;
    border: 0;
}

fieldset {
    width: 100%;
    padding: 0px 40px;
    background-color: #1B263B;
    color: #F4F1EA;
    list-style: none;
}

legend {
    color: #F4F1EA;
    margin: 0;
}

form {
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 15px;
}

form label {
    grid-column: 1;
}

form input {
    margin: 5px;
    grid-column: 2;
    height: 40px;
    border-radius: 8px;
}

input option {
    border-radius: 8px;
}

textarea {
    border-radius: 8px;
}

button {
    width: 50%;
    margin: 15px;
    padding: 15px;
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
}

.location {
    margin: 0;
    padding: 30px;
}

footer {
    width: 80%;
    margin: 0 auto;
    background-color: #1B263B;
    color: #F4F1EA;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 10px;
}

footer a {
    text-decoration: none;
    color: #F4F1EA;
}

@media (min-width: 768px) {
     header {
        grid-template-columns: 1fr 1fr; /* Desktop: duas colunas */
        text-align: left;
    }
    
    #logo {
        justify-self: start; /* Alinha à esquerda */
    }
    
    nav {
        justify-self: end; /* Alinha à direita */
        align-self: center;
    }
    
    nav ul {
        justify-content: flex-end; /* Botões à direita */
}
    #about {
        width: 100%;
        flex-direction: row;
        justify-items: center;
        align-items: flex-start;
    }

    #textabout {
        max-width: 80%;
    }

.midia {
    max-width: 1160px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.midia iframe {
    flex: 1 1 calc(50% - 10px);
    max-width: 560px;
}

.cards img {
    width: 100%;
    gap: 30px;
}
}

* {
    outline: 1px solid red !important;
}